<!-- about.drv.html -->

<button class="item aboutButton button button-full button-royal" ng-click="ctrl.toggleAboutMessage()">About simpleNote</button>
<div class="aboutMessage card" ng-show="ctrl.messageService.showAboutMessage">
  <div class="item item-text-wrap" ng-click="ctrl.externalLinkService.handleLinkClicked($event)">
    <h3>simpleNote v0.1.1.</h3>
    <p>This is a sample project, using <a href="http://ionicframework.com/">Ionic framework</a>, developing in test driven way.</p>
    <p>On Android platform you can save your notes to the sdcard/download folder. On iOS platform you can save your notes to the application folder, and they will be synced on iCloud.</p>
    <p>You can check the project in my github: <a href="https://github.com/tompascall/simpleNote">https://github.com/tompascall/simpleNote</a>.</p>
    <p>The markdown feature is based on the
      <a href="https://code.google.com/p/pagedown/">pagedown</a> and the <a href="https://github.com/jmcmanus/pagedown-extra">pagedown-extra</a> project.</p>
    <p>Created by <a href="https://hu.linkedin.com/in/tompascall">tompascall</a>.</p>

    <h3>LICENSE</h3>

    <p>Copyright 2015-present Tamas G. Toth</p>

    <p>MIT License</p>

    <p>Permission is hereby granted, free of charge, to any person obtaining
    a copy of this software and associated documentation files (the
    "Software"), to deal in the Software without restriction, including
    without limitation the rights to use, copy, modify, merge, publish,
    distribute, sublicense, and/or sell copies of the Software, and to
    permit persons to whom the Software is furnished to do so, subject to
    the following conditions:</p>

    <p>The above copyright notice and this permission notice shall be
    included in all copies or substantial portions of the Software.</p>

    <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
    EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
    NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
    LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
    OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
    WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
  </div>
</div>
