<!-- edit-note-modal-body.drv.html -->

<div class="list">
  <label class="item item-input">
    <input class="modal-title" name="title" type="text" placeholder="Title of your note" ng-model="ctrl.noteInput.title" required>
  </label>

  <label class="item item-input">
    <textarea id="edit-note-modal-text" placeholder="Enter your note here" ng-model="ctrl.noteInput.text"></textarea>
  </label>

  <label class="item item-input">
    <input class="modal-tags" type="text" placeholder="Tags (separated by commas)" ng-model="ctrl.noteInput.tags">
  </label>
</div>
