<!-- noteList.drv.html -->

<ion-list>
  <div class="note-item" ng-repeat="note in ctrl.noteData.notes | filter: ctrl.searchNote.searchTerm" ng-click="ctrl.toggleNoteState(note)">
    <div class="row">
      <div class="note-title-container col col-80">
        <h2 class='note-title'>
          <span class="wordwrap" ng-bind="note.title"></span>
        </h2>
      </div>
      <div class="col col-20 note-close-container">
        <a class="button button-icon icon icon-right ion-ios-close-outline note-close" ng-click="ctrl.noteData.deleteNote(note, $event)"><i></i></a>
      </div>
    </div>
    <div id="note-text-and-tags" class="animate-show" ng-show="note.opened">
      <div class="text-title-container">
        <div class="text-title text-title-wordwrap" ng-bind-html="note.htmlText" ng-click="ctrl.externalLinkService.handleLinkClicked($event)"></div>
      </div>
      <div id="tags-row" class="row">
        <p id="tag-container" class="col col-80"><i class="icon ion-pricetag"></i>&nbsp;
          <span class="tag-title" ng-repeat="tag in note.tags" ng-bind="tag + ' '"></span>
        </p>
        <div class="col col-20 note-edit-container">
          <a id="edit-button" class="button button-icon icon icon-right ion-edit note-edit" ng-click="ctrl.editNote(note, $event)"></a>
        </div>
      </div>
    </div>
  </div>
</ion-list>
