/* app/styles/style.css */

.note-title-container {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: center;
}

.note-title {
  color: rgb(255, 0, 0);
}

.wordwrap {
  white-space: normal;
  line-height: 30px;
}

#tag-container {
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tag-title {
  background-color: rgb(153, 153, 153);
  display: inline-block;
  color: rgb(255, 255, 255);
  margin: 2px 3px 2px 3px;
  padding: 0 5px 0 5px;
  border-radius: 3px;
  line-height: 25px;
}
