<!-- noteList.drv.html -->

<ion-list>
  <ion-item ng-repeat="note in ctrl.notes" ng-click="ctrl.toggleNoteState(note)">
    <div class="row">
      <div class="note-title-container col col-80">
        <h2 class='note-title'>
          <span class="wordwrap" ng-bind="note.title"></span>
        </h2>
      </div>
    </div>
    <div id="note-text-and-tags" ng-show="ctrl.stateOfNotes[note.id].opened">
      <textarea rows="10" readonly ng-bind="note.text"></textarea>
      <div id="tags-row" class="row">
        <p id="tag-container" class="col col-80"><i class="icon ion-pricetag"></i>&nbsp;
          <span class="tag-title" ng-repeat="tag in note.tags" ng-bind="tag + ' '"><span>
        </p>
      </div>
    </div>
  </ion-item>
</ion-list>
