/* app/styles/style.css */

.note-title-container {  /* OLD - iOS 6-, Safari 3.1-6, BB7 */  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-align-items: center;
          align-items: center;
}

.note-title {
  color: rgb(255, 0, 0);
}

.wordwrap {
  white-space: normal;
  line-height: 30px;
}
