<!-- new-note-modal.html -->

<div class="modal">
  <!-- Modal header bar -->
  <ion-header-bar class="secondary">
    <h1 class="title">Your New Note</h1>
    <button id="new-note-modal-cancel-button" class="button button-clear button-positive" ng-click="ctrl.hideModal(ctrl.newNoteModal)">Cancel</button>
  </ion-header-bar>
  <!-- Modal content area -->
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <input id="newNoteModalTitle" type="text" placeholder="Title of your note" ng-model="ctrl.title">
        </label>

        <label class="item item-input">
          <textarea rows="10" placeholder="Enter your note here" ng-model="ctrl.text"></textarea>
        </label>

        <label class="item item-input">
          <input id="newNoteModalTags" type="text" placeholder="Tags (separated by commas)" ng-model="ctrl.tags">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Create Note</button>
      </div>
    </form>
  </ion-content>
</div>
