<!-- edit-note-modal.html -->

<div class="modal">
  <!-- Modal header bar -->
  <ion-header-bar class="secondary">
    <h1 class="title">Edit Your Note</h1>
    <button id="edit-note-modal-cancel-button" class="button button-clear button-positive" ng-click="ctrl.hideModal(ctrl.editNoteModal)">Cancel</button>
  </ion-header-bar>
  <!-- Modal content area -->
  <ion-content>
    <form name="newNoteModalForm" novalidate>
      <edit-note-modal-body></edit-note-modal-body>
      <div class="padding">
        <button id="edit-note-modal-update-button" type="submit" class="button button-block button-positive" ng-disabled="newNoteModalForm.title.$invalid" ng-click="ctrl.updateNotes(ctrl.note)">Update Note</button>
      </div>
    </form>
  </ion-content>
</div>
