<!-- extras-modal.html -->

<div class="modal">
  <!-- Modal header bar -->
  <ion-header-bar class="secondary bar-stable" align-title="center">
    <h1 class="title">Extras</h1>
    <button id="extras-modal-cancel-button" class="button button-clear button-positive" ng-click="ctrl.hideModal(ctrl.extrasModal)">Cancel</button>
  </ion-header-bar>
  <!-- Modal content area -->
  <ion-content>
    <form name="extrasModalForm">
      <div class="list padding">

        <save-to-dropbox></save-to-dropbox>
        <load-from-dropbox></load-from-dropbox>

        <div ng-if="ctrl.environment.production || ctrl.environment.development">
          <save-file></save-file>
          <load-file></load-file>
        </div>

        <about></about>

        <!-- add 100 test notes - only for development -->
        <div ng-if="ctrl.environment.development">
          <button id="testMuchNotes" class="item button button-full button-dark" ng-click="ctrl.addTestNotes(100)">Add 100 test notes</button>
        </div>

        <button id="doneExtrasButton" type="submit" class="button button-full button-balanced" ng-click="ctrl.hideModal(ctrl.extrasModal)">Back</button>
      </div>
    </form>
  </ion-content>
</div>
