<!-- modal-body.drv.html -->

<div class="list">
  <label class="item item-input">
    <input id="newNoteModalTitle" name="title" type="text" placeholder="Title of your note" ng-model="ctrl.title" required>
  </label>

  <label class="item item-input">
    <textarea rows="10" placeholder="Enter your note here" ng-model="ctrl.text"></textarea>
  </label>

  <label class="item item-input">
    <input id="newNoteModalTags" type="text" placeholder="Tags (separated by commas)" ng-model="ctrl.tags">
  </label>
</div>
